<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<style>
    *{margin: 0; padding: 0}
    #app{width: 800px; margin: 50px auto}
    td{       position: relative;}
    .editInput{position: absolute;    left: 0;    top: 0; width: 100%;   height: 100%;}

</style>
<body>

<div id="app">
    <table border="1" borderColor="#ddd" width="100%">
        <thead>
            <tr>
                <td>昵称</td>
                <td>留言内容</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item,index in dataList">
                <td>{{item.name}}</td>
                <td>{{item.content}}<input type="text" @keyup.13="save(item)" @blur="save(item)" v-show="item===editCon" class="editInput" v-model="item.content"/></td>
                <td>
                    <a href="javascript:" @click="edit(item)">编辑</a>
                    <a href="javascript:" v-on:click="del(index)">删除</a>
                </td>
            </tr>
        </tbody>
    </table>


    <div style="margin: 20px 0">
        昵称：<input type="text" placeholder="昵称" v-model="name">

    </div>
    <div style="margin: 20px 0">
        内容：<textarea placeholder="留言内容" v-model="con"></textarea>
    </div>
    <button @click="add(name,con)">提交</button>
</div>

<script>

    var storage={
        get:function (key) {
            return JSON.parse(localStorage.getItem(key)) || [];
        },
        save:function(key,value){
            localStorage.setItem(key,JSON.stringify(value));
        },
    };


    var dataList=storage.get('dataList');
    vm=new Vue({
        el:'#app',
        data:{
            dataList,
            name:'',
            con:'',
            editCon:''
        },
        watch:{
            dataList: {
                handler(newName, oldName) {
                    storage.save('dataList',this.dataList)
                },
                deep: true
            }

        },
        methods:{
            add(name,con){
                if(this.name && this.con !=''){
                    this.dataList.push({
                        name:this.name,
                        content:this.con
                    });

                    this.name='';
                    this.con=''
                }else{
                    alert('请填写完整')
                }
            },
            edit(item){
                this.editCon=item;
            },
            save(item){
                this.editCon=''
            },
            del(index){
                this.dataList.splice(index,1)
            },

        }
    })
</script>
</body>
</html>